{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <h1>Shopping Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            {% else %}
            <p class="mb-4">You cart is empty.</p>
            <a href="{% url 'shop' %}" class="btn btn-outline-dark rounded-4 btn-lg">Keep shopping</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}