{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
<!-- Page title -->
<div class="container">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <h1>Shopping Cart</h1>
        </div>
    </div>
</div>
<!-- Cart -->
<div class="container">
    <!-- Product/s in the cart -->
    {% if cart_items %}
    <div class="row">
        <div class="col-12">
            {% for item in cart_items %}
            <div class="row">
                <!-- Product image -->
                <div class="col-4 col-lg-3 p-3">
                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.product.image }}" width="150">
                </div>
                <div class="col-8 col-lg-9 d-flex flex-column justify-content-center">
                    <div class="row mt-2">
                        <!-- Product name -->
                        <div class="col align-items-center">
                            <p class="m-0 fw-bold">{{ item.product.name }}</p>
                            <p class="m-0 text-muted small">Size {{ item.product.size }}</p>
                        </div>
                        <div class="col-lg-4">
                            <!-- Form to modify quantity -->
                            <form class="form update-form" method="POST" action="{% url 'modify_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group input-group-{{ item.item_id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-outline-dark border-4 decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                                <i class="fa-solid fa-circle-minus"></i>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input border-0 fs-5 px-1 text-center id_qty_{{ item.item_id }}" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-outline-dark border-4 increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Update quantity button -->
                                <button class="btn btn-outline-dark btn-sm rounded-4 mt-2 mb-2 text-uppercase">update</button>
                            </form>
                        </div>
                        <div class="col col-lg-3 d-flex justify-content-between">
                            £{{ item.product.price | calc_subtotal:item.quantity }}
                            <p class="text-danger remove-item m-0" id="remove_{{ item.item_id }}">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    <!-- Empty cart -->
    {% else %}
        <p class="mb-4">You cart is empty.</p>
        <a href="{% url 'shop' %}" class="btn btn-outline-dark rounded-4 btn-lg">Keep shopping</a>
    {% endif %}
</div>
{% endblock %}
{% endblock %}