{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Page title -->
<div class="container">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <h1 class="display-2">Checkout</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <h2 class="mb-4 text-muted">Your order ({{ product_count }})</h2>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mr-0 small text-muted">Item</p>
                </div>
                <div class="col-3">
                    <p class="mb-1 mr-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in cart_items %}
            <div class="row bg-white py-2 my-2">
                <div class="col-2 mb-1">
                    <a href="{% url 'show_product' item.product.id %}">
                        {% if item.product.image %}
                            <img class="img-fluid p-2" src="{{ MEDIA_URL }}{{ item.product.image }}"
                                alt="{{ item.product.name }}">
                        {% else %}
                            <img class="img-fluid p-2" src="{{ MEDIA_URL }}image-placeholder.png"
                                alt="Image Placeholder">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">Size: {{ item.product.size }}</p>
                    <p class="my-0 small text-muted">QTY x {{ item.quantity }}</p>
                </div>
                <div class="col-3">
                    <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
        {% endfor %}
        <hr class="mb-0">
        <div class="row">
            <div class="col-7 offset-2">
                <p class="my-0">Order Total:</p>
                <p class="my-0">Delivery:</p>
                <p class="my-0">Total:</p>
            </div>
            <div class="col-3">
                <p class="my-0">£{{ total | floatformat:2 }}</p>
                <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="mb-5">
                    <legend class="fieldset-label display-6 px-2 w-auto">Contact Information</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-5">
                    <legend class="fieldset-label display-6 px-2 w-auto">Delivery</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label display-6 px-2 w-auto">Payment</legend>
                    <!-- Stripe card element -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="d-flex flex-row justify-content-between mt-5 mb-2">
                    <a href="{% url 'view_cart' %}" class="btn btn-outline-dark rounded-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="fw-bold">Return to Cart</span>
                    </a>
                    <button id="submit-button" class="btn btn-outline-success rounded-4">
                        <span class="fw-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                </div>
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <p class="display-1 text-light logo-font loading-spinner">
        <i class="fas fa-3x fa-spinner fa-pulse"></i>
    </p>
</div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}