body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5FBFB;
    /* #FFA258, #58bdcf, #A2E4E0, #F5FBFB; */
}

.navbar {
    padding: 0;
}

.nav-border {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #ebebeb;
}

.button-position {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.message-container {
    position: absolute;
    top: 125px;
    right: 0;
    z-index: 999;
}

.form-control {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.form-control--focus,
.form-control:focus,
.form-control:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.form-control--webkit-autofill {
    background-color: #fefde5 !important;
}

.form-control::placeholder {
    color: #aab7c4;
}

.allauth-inner-content a {
    color: #086a7a;
    text-decoration: none;
    font-weight: 600;
}

.allauth-inner-content label:not([for='id_remember']) {
    display: none;
}