{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center mt-5 mb-5">
            <h2 class="display-3">Contact</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 my-4 text-center text-md-start order-md-first">
            <p class="fs-4"><i class="fa-solid fa-clock"></i> Opening hours</p>
            <div class="d-flex">
                <div class="col-6 text-end px-2 text-md-start">
                    <p>Monday</p>
                    <p>Tuesday</p>
                    <p>Wednesday</p>
                    <p>Thursday</p>
                    <p>Friday</p>
                    <p>Saturday</p>
                    <p>Sunday</p>
                </div>
                <div class="col-6 text-start">
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                    <p>10:00 - 18:00</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 my-4 text-center text-md-start order-first">
            <div class="col-12">
                <p class="fs-3 fw-bold">Any quaries?</p>
                <p class="fs-5">Send us an email or call us.</p>
                <p><i class="fa-solid fa-phone"></i> 029 2018 0777</p>
                <p><i class="fa-solid fa-mailbox"></i> contact@plushies.com</p>
                <p><i class="fa-solid fa-location-pin"></i> Cardiff, United Kingdom</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}