{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page title -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center mt-5 mb-5">
            <h1 class="display-3">Product Managment</h1>
            <p class="fs-2">Add Product</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-end">
                    <a class="btn btn-outline-dark rounded-4" href="{% url 'shop' %}">Cancel</a>
                    <button class="btn btn-dark rounded-4" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}